@model IEnumerable<WildPath.EfModels.Item>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Create a New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
@*             <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.ItemDetails)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
@*                 <td class="d-none d-md-table-cell">
                    @Html.Raw(item.ItemDetails.Replace("\n", "<br/>"))
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    <div class="button-container">
                        <a asp-action="Edit" asp-route-id="@item.PkItemId" class="btn btn-dark">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.PkItemId" class="btn btn-dark">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.PkItemId" class="btn btn-dark">Delete</a>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>
