@model WildPath.ViewModels.CheckoutVM
@{
    ViewData["Title"] = "Payment Confirmation";
}

<style>
    html, body, .container, div {
        margin: 0;
        padding: 0;
    }

    .grey-header {
        background-color: rgba(217, 217, 217, 0.5);
        color: black;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        margin-top: -15px;
    }

    .bold-text {
        font-weight: bold;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .confirmation-message {
        margin-top: 50px;
        margin-left: 100px;
        text-align: left; 
    }

    .estimated-date, .delivery-address {
        text-align: left;
        background-color: #f5f5f5; 
        width: 50%;
        margin-top: 30px; 
        margin-left: 50px; 
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }


    .delivery-address {
        text-align: left;
    }

    .styling-link-pp{
        text-decoration: none;
        color: #888;
    }

    .styling-link-pp:hover{
        color: black;
        font-weight: 600;
    }

</style>

<div class="grey-header">
    <span class="bold-text">Your order has shipped</span>
</div>

<div class="confirmation-message">
    <span style="font-size: 2em;">Hi @Model.PayerFullName,</span><br />

    <p style="font-size: 1.4em;margin-top: 30px;">
        Thank you! Your payment of 
        @Model.CurrencySymbol@Model.GrandTotal.ToString("N2") @Model.CurrencyCode has been processed successfully.<br />
        Your shipment with tracking number: #@Model.TrackingNumber is ready. <br />
    </p>

    <div class="estimated-date">
        <span style="font-size: 1.4em; margin-bottom: 20px;">
            <strong>Estimated Delivery Date:</strong> <br />
            @Model.EstimatedDeliveryDate?.ToString("MMMM dd, yyyy") <br />
        </span>
    </div>



        <div class="delivery-address">
            <span style="font-size: 1.4em;">
            <strong>Delivered to:</strong> <br />
                @Model.PayerFullName <br />
                @* @Model.Address.Address1 <br />
                @Model.Address.City, @Model.Address.Province <br />
                @Model.Address.PostalCode *@
            </span>
        </div>
    <br /><br /><br/>

    <p>If you have any questions or need further assistance, please visit our <a href="/Home/CustomerCare" class="styling-link-pp">Help Center</a> for more information.</p>

 
 <br /><br />
</div>